.card {
  color: white;

  &--title {
    font-size: 14px;
  }

  &--info {
    margin-left: 20px;
    font-weight: 500;
    font-size: 30px;
  }
}

.totalCamera {
  background-color: #960052;
}

.cameraAI {
  background-color: #4b00b5 !important;
}

.cameraIsWorking {
  background-color: #7bac00;
}

.cameraIsNotWorking {
  background-color: #a40008;
}
