.components_video-controls .navigation {
  width: 100%;
  margin-top: 43px;
}

.components_video-navigation {
  position: relative;
  display: flex;
}

.storyboard {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 50px;
}

.component_storyboard .frames {
  display: flex;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.frames img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.component_storyboard .frames .frame.loaded {
  background-image: none;
}

.component_storyboard .frames .frame {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: 50%;

  background-size: 25%;
  pointer-events: none;
}

.shared-components_control-bars {
  --progress: 0;
  --timeHintScale: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.control-bars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  user-select: none;
}

.shared-components_control-bars .mask.left {
  left: 0;
}

.shared-components_control-bars .mask.right {
  right: 0;
}

.shared-components_control-bars .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(32, 57, 109, 0.86);
}

.shared-components_control-bars .progress-output {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(-50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  --offset: 0;
  --contentTop: -24px;
}

.shared-components_control-bars .progress-output .progress-line {
  position: absolute;
  top: var(--offset);
  bottom: var(--offset);
  left: 50%;
  width: 3.56px;
  background-color: #28c76f;
}

.shared-components_control-bars .progress-output .progress-line:before {
  position: absolute;
  top: -24px;
  left: -55px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 110px;
  height: 24px;
  padding: 1px 0;
  color: #28c76f;
  font-size: 11px;
  background-repeat: no-repeat;
  content: attr(data-value);
}

.shared-components_control-bars .control-bars-wrapper,
.shared-components_control-bars .progress-line-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
}

.shared-components_control-bars .control-bars-wrapper,
.shared-components_control-bars .progress-line-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
}

.state_edit-file .content.visible {
  visibility: visible;
  opacity: 1;
}

.state_edit-file .content {
  visibility: hidden;
  opacity: 0;
}

.shared-components_control-bars .control-bar.cb-right {
  right: 0;
  transform: translateX(100%);
}

.shared-components_control-bars .control-bar.cb-left {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  transform: translateX(-100%);
}

.shared-components_control-bars .control-bar:after {
  position: absolute;
  bottom: -23px;
  left: 50%;
  color: #1380ff;
  font-weight: 300;
  font-size: 12px;
  transform: translate(-50%) scaleX(var(--timeHintScale));
  transition: left 0.1s linear, transform 0.1s linear;
  content: attr(data-content);
  pointer-events: none;
}

.shared-components_control-bars .control-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 5px;
  background-color: #1380ff;
  cursor: ew-resize;
  pointer-events: all;
}

.shared-components_control-bars .control-bar.cb-left.mirror,
.shared-components_control-bars .control-bar.cb-right {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.control-bars[data-v-30158158] .selected-range-output {
  /* color: rgba(214,233,255,.3); */
  padding: 0 15px;
  transform: translate(-50%, 26px);
}

.shared-components_control-bars .selected-range-output {
  position: absolute;
  bottom: 3px;
  left: 50%;
  color: #d6e9ff;
  font-weight: 300;
  font-size: 11px;
  text-align: center;
  transform: translate(-50%);
}

.time-stripe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 1px;
  background-color: hsla(0, 0%, 100%, 0.3);
  pointer-events: none;
}
